<!DOCTYPE html>
<html ng-app="orders">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="css/styles.css" rel="stylesheet"/>
</head>
<body>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<div class="container" ng-controller="SendOrderController as SendCtrl">

	<form class="form-horizontal" name="sendOrder" ng-submit="sendOrder.$valid && addOrder()" novalidate> <!-- sendOrder.$valid &&  -->
		<div class="form-group">
		    <label for="theme" class="col-sm-2 control-label">Тема заявки</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="orderTheme" id="theme" placeholder="тема заявки" ng-model="order.theme" required/>
		      <span ng-show="sendOrder.orderTheme.$touched && sendOrder.orderTheme.$error.required">Пожалуйста, введите тему заявки</span>
		    </div>
		</div>
		
		<div class="form-group">
		    <label for="theme_text" class="col-sm-2 control-label">Текст заявки</label>
		    <div class="col-sm-10">
				<textarea class="form-control" name="orderText" id="theme_text" placeholder="текст заявки" rows="3" ng-model="order.themeText" required></textarea>
				<span ng-show="sendOrder.orderText.$touched && sendOrder.orderText.$error.required">Пожалуйста, кратко опишите заявку</span>
			</div>
		</div>


		<div class="form-group urgency">
			<div class="col-sm-2">
				<span>Укажите срочность проекта</span>
			</div>
			
			<div class="col-sm-10">
				<label class="radio-inline">
				  	<input type="radio" name="orderUrgency" id="inlineRadio1" value="низкая" ng-model="order.orderUrgency"> низкая
				</label>
				<label class="radio-inline">
				  	<input type="radio" name="orderUrgency" id="inlineRadio2" value="средняя" ng-model="order.orderUrgency"> средняя
				</label>
				<label class="radio-inline">
				  	<input type="radio" name="orderUrgency" id="inlineRadio3" value="срочная" ng-model="order.orderUrgency"> срочная
				</label>
			</div>

		</div>
		
		<div class="form-group">
			<label for="select_project" class="col-sm-2 control-label">Выберите проект для участия</label>
			<div class="col-sm-10">
				<select class="form-control" name="orderProject" id="select_project" ng-model="order.projectName" >
					<option>Арктические медведи</option>
					<option>Сервиз "Мадонна"</option>
					<option>Фестиваль "Московское Варенье"</option>
					<option>Выборы Президента РФ</option>
					<option>Колонизация Марса 2030</option>
					<option>Дом 2</option>
				</select>
			</div>
		</div>


		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Отправить</button>
		    </div>
		</div>
	</form>

	<!-- проверка  сейчас не работает тк SendOrderController прицепленн к форме, а этот div уже вне формы-->
	<div class="angularOutput">

		<div>{{order.theme}}</div>
		<div>{{order.themeText}}</div>	
		<div>{{order.orderUrgency}}</div>
		<div>{{order.projectName}}</div>
		<div>{{SendCtrl.order.theme}}</div>
		<div>{{SendCtrl.order.themeText}}</div>	
		<div>{{SendCtrl.order.orderUrgency}}</div>
		<div>{{SendCtrl.order.projectName}}</div><!--   -->
	</div>

	<!-- 
	<div ng-controller="TableDataController as TableDataCtrl">
		tableDataController - просто проверка получения данных из json
	</div>
	 -->

	<div class="row">
		<div class="table-responsive">
			<table class = "table table-bordered" ng-controller="TableDataController as TableDataCtrl">
				<thead>
				    <tr>
				        <th ng-click="TableDataCtrl.sortColumn('theme', 0)">
				        	Тема заявки	
				           	<span ng-class="TableDataCtrl.icon[0]" aria-hidden="true"></span>
				        </th>

				        <!--  <th ng-click="sortType = 'theme'; sortReverse = !sortReverse">Тема заявки</th> старый вариант -->
				        <th ng-click="TableDataCtrl.sortColumn('themeText', 1)">
				        	Текст заявки
				        	<span ng-class="TableDataCtrl.icon[1]" aria-hidden="true"></span>
				        </th>
				        <th ng-click="TableDataCtrl.sortColumn('orderUrgency', 2)">
				        	Срочность проекта
				        	<span ng-class="TableDataCtrl.icon[2]" aria-hidden="true"></span>
				        </th>
				        <th ng-click="TableDataCtrl.sortColumn('projectName', 3)">
				        	Название проекта
				        	<span ng-class="TableDataCtrl.icon[3]" aria-hidden="true"></span>
				        </th>						

				    </tr>
			    </thead>

				<tbody>
					<tr ng-repeat="order in orders | orderBy:TableDataCtrl.sortType:TableDataCtrl.sortReverse">
						<td>
							{{order.theme}}	
						</td>
						<td>
							{{order.themeText}}	
						</td>
						<td>
							{{order.orderUrgency}}	
						</td>
						<td>
							{{order.projectName}}	
						</td>
					</tr>

					
				</tbody>

			</table>
		</div>
	</div>
	

	</div> <!-- container -->


	
</body>	
</html>